$main-color: rgba(0, 0, 0, .99); 
$black:#000;
$light-black:#191919;
$white:#fff;
$light-gray: #D3D3D3;
$gray: #999;
$dark-gray: #8C8C8C1A;  
$footer-text-color:#343434;
$transparent-gray:rgba(255,255,255,.2);
$shadow-black:#0000000D;
$font-stack: 'Inter', sans-serif;
$secondary-font:Montserrat;